// 
// Projects Page Desktop Style
// 

// colors
$off-white: #fffaef;
$dark-grayish-green: #a5b1a1;
$very-dark-gray: #242424;

#projects-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: $very-dark-gray;

    .projects-background {
        
        .line {
            position: absolute;

            left: 50px;
            width: 20px;
            height: 100vh;
            background-color: transparent;
            border-left: 2px solid $very-dark-gray;
            border-right: 2px solid $very-dark-gray;
        }

        .title-marquee {
            z-index: 1;
            position: absolute;
            bottom: 0;
            width: 20px;
            height: 100vh;
            left: 52px;
            white-space: nowrap;
            font-size: 14px;
            overflow: hidden;
    
            .title-content {
                display: block;
                position: relative;
                animation: marquee 50s linear infinite;
    
                span {
                    width: 20px;
    
                    p {
                        margin-bottom: 102px;
                        transform: rotate(90deg);
                        color: $very-dark-gray;
                    }
                }
            }
        }
    }

    .projects-content {
        position: relative;
        width: 100vw;
        height: 100vh;

        display: grid;
        grid-template-columns: 74px minmax(0, 1fr) 43.889% minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr) 500px minmax(0, 1fr);
        height: 100%;

        opacity: 0;
        transition: 
            opacity 1s ease-in-out,
            transform 1s ease-in-out;

        &.open {
            opacity: 1;
            transform: translateY(0);
        }

        &.close {
            opacity: 0;
        }

        .title-top {
            grid-column: 3;
            grid-row: 1;
            align-self: center;
            justify-self: center;

            font-size: 25px;
            font-weight: 400;

            border: 2px solid $very-dark-gray;
        }
        .title-bottom {
            grid-column: 3;
            grid-row: 3;
            align-self: center;
            justify-self: center;

            font-size: 25px;
            font-weight: 400;
            color: $off-white;

            background-color: $very-dark-gray;
            transform: scale(1, -1);
        }

        .click-note {
            grid-column: 2;
            grid-row: 1;
            align-self: end;
            justify-self: center;
            margin-bottom: 5px;

            font-size: 10px;
        }

        .scroll-note {
            grid-column: 2;
            grid-row: 3;
            align-self: start;
            justify-self: center;
            // margin-right: 93px;
            margin-top: 5px;

            font-size: 10px;
        }

        .projects-scroller {
            grid-column: 2;
            grid-row: 2;
            justify-self: center;
            align-self: center;

            width: 200px;
            height: 100%;
            overflow-y: scroll;
            // hide scroll bar
            &::-webkit-scrollbar { // Chrome, Safari, Opera
                display: none;
            }
            -ms-overflow-style: none; // IE & Edge
            scrollbar-width: none; // Firefox


            border-top: 2px solid $very-dark-gray;
            border-bottom: 2px solid $very-dark-gray;

            display: flex;
            align-items: center;
            justify-content: center;

            .btn-container {
                height: 100%;

                display: flex;
                flex-direction: column;


                .project-btn {
                    width: 180px;
                    margin: 10px 0;

                    border: none;
                    background-color: transparent;
    
                    font-family: "Work Sans";
                    font-size: 50px;
                    font-weight: 600;
                    color: $very-dark-gray;
                    letter-spacing: -5px;
                    text-transform: uppercase;
                    text-align: start;

                    cursor: pointer;

                    transition: color 200ms ease-in-out;

                    &:hover {
                        color: $dark-grayish-green;
                    }
                }
            }
        }

        .hero-box {
            grid-column: 3;
            grid-row: 2;
            justify-self: center;

            width: 500px;
            height: 500px;
            border: 2px solid $very-dark-gray;

            background-color: $dark-grayish-green;

            img {
                width: inherit;
                height: inherit;
            }
        }

        .project-description {
            grid-column: 4;
            grid-row: 2;
            justify-self: center;
            align-self: center;

            width: 75%;
            height: 100%;

            display: flex;
            flex-direction: column;

            text-transform: none;
            font-variant: small-caps;

            .project-title {
                justify-self: start;

                font-size: 12px;
                font-weight: 600;

                margin-bottom: 50px;
            }
        
            .description {
                justify-self: flex-end;
                margin-bottom: 50px;;

                font-size: 12px;
                font-weight: 400;
            }

            .project-links {
                display: flex;
                flex-direction: row;
                width: 100%;

                a {
                    font-size: 12px;
                    text-underline-offset: 2px;
                    color: inherit;

                    opacity: 0;
                    margin-right: 25px;

                    cursor: pointer;

                    transition: color 200ms ease-in-out;

                    &:hover {
                        color: $dark-grayish-green;
                    }
                }
            }
        }
    }
}

.project-container {
    z-index: 26;
    position: fixed;
    width: 100vw;
    height: 100vh;

    top: -100vh;
    left: 0;

    visibility: hidden;
    opacity: 0;

    transition: opacity 400ms ease-in-out;

    display: flex;
    justify-content: center;

    .project-background {
        position: absolute;

        width: 100vw;
        height: 100vh;

        background-color: rgba($dark-grayish-green, 0.9);
    }

    .project-box {
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;

        // hide scroll bar
        &::-webkit-scrollbar { // Chrome, Safari, Opera
            display: none;
        }
        -ms-overflow-style: none; // IE & Edge
        scrollbar-width: none; // Firefox

        // width: 720px;
        width: 0;
        height: 100vh;

        background-color: $off-white;
        border-left: 2px solid $very-dark-gray;
        border-right: 2px solid $very-dark-gray;

        transition: all 400ms ease-in-out;

        display: flex;
        flex-direction: column;
        align-items: center;

        .title-line {
            position: absolute;
            width: 0;
            height: 1px;

            transition: width 800ms ease-in-out;

            background-color: $very-dark-gray;

            &.open {
                width: 648px;
            }

            &:nth-child(2) {
                top: 50px;
            }
            &:nth-child(4) {
                top: 160px;
            }
            &:nth-child(6) {
                top: 205px;
            }
        }

        .date {
            position: relative;
            margin-top: 36px;
            width: 648px;
            height: 15px;

            display: flex;
            justify-content: flex-end;

            opacity: 0;
            transition: opacity 800ms ease-in-out;

            &.open {
                opacity: 1;
            }

            .year {
                font-size: 12px;
            }
        }

        .box-title {
            position: relative;
            // padding: 15px 0;

            display: grid;
            grid-template-rows: 110px;
            align-items: center;

            width: 648px;
            height: 110px;

            font-size: 50px;
            font-weight: 400;
            line-height: 40px;
            white-space: nowrap;
            text-transform: none;
            font-variant: small-caps;

            opacity: 0;
            transition: 
                opacity 800ms ease-in-out,
                transform 800ms ease-in-out;

            &.open {
                opacity: 1;
            }
        }

        .box-description {
            position: relative;
            padding: 15px 0;

            width: 648px;

            font-size: 12px;
            font-weight: 400;
            text-transform: none;
            font-variant: small-caps;

            opacity: 0;
            transition: opacity 800ms ease-in-out;

            &.open {
                opacity: 1;
            }
        }

        .box-img {
            position: relative;
            padding: 60px 0;
            width: 648px;
            height: 1010px;

            opacity: 0;
            transition: opacity 800ms ease-in-out;

            &.open {
                opacity: 1;
            }
        }

        .box-img-2-container {
            position: relative;
            width: 100%;
            padding: 60px 0;
            margin-bottom: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $very-dark-gray;

            .box-img-2 {
                // width: 648px;
                // height: 405px;
                width: 720px;
                height: 450px;
            }
        }

        .box-video-container {
            position: relative;
            width: 720px;
            padding: 60px 0;
            margin-bottom: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $very-dark-gray;

            .box-video {
                width: 720px;
                height: 450px;
            }
        }

        .one-liner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: 648px;
            height: 76px;
            margin-bottom: 60px;

            opacity: 0;
            transform: translateY(50px);
            transition: 
                opacity 800ms ease-in-out,
                transform 800ms ease-in-out;

            &.open {
                opacity: 1;
                transform: translateY(0);
            }

            p {
                width: 500px;
                
                font-size: 50px;
                font-weight: 700;
                font-style: italic;
                letter-spacing: -2px;
                line-height: 38px;
            }

            a {
                font-size: 12px;
                color: $very-dark-gray;
                text-decoration: none;
            }
        }

        .intro {
            width: 648px;
            text-transform: none;
            font-variant: small-caps;

            .intro-header {
                font-size: 25px;
                font-weight: 600;
                letter-spacing: -1px;
                margin-bottom: 15px;

                opacity: 0;
                transform: translateY(25px);
                transition: all 800ms ease-in-out;

                &.open {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .intro-content {
                font-size: 12px;
                font-weight: 400;

                margin-bottom: 30px;

                opacity: 0;
                transform: translateY(25px);
                transition: all 800ms ease-in-out;

                &.open {
                    opacity: 1;
                    transform: translateY(0);
                }

                a {
                    color: inherit;
                    text-underline-offset: 2px;
                }
            }
        }

        .challenges {
            width: 648px;
            text-transform: none;
            font-variant: small-caps;

            .challenges-header {
                font-size: 25px;
                font-weight: 600;
                letter-spacing: -1px;
                margin-bottom: 15px;

                opacity: 0;
                transform: translateY(25px);
                transition: all 800ms ease-in-out;

                &.open {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .challenges-content {
                font-size: 12px;
                font-weight: 400;

                margin-bottom: 30px;

                opacity: 0;
                transform: translateY(25px);
                transition: all 800ms ease-in-out;

                &.open {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .technology {
            width: 648px;
            margin-bottom: 30px;

            text-transform: none;
            font-variant: small-caps;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            opacity: 0;
            transform: translateY(25px);
            transition: 
                opacity 800ms ease-in-out,
                transform 800ms ease-in-out;

            &.open {
                opacity: 1;
                transform: translateY(0);
            }

            .technology-header {
                font-size: 25px;
                font-weight: 600;
                letter-spacing: -1px;
            }

            .technology-content {
                font-size: 12px;
            }
        }

        .box-footer {
            position: relative;
            width: 648px;
            // margin-bottom: 30px;
            padding-bottom: 30px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .footer-line {
                position: relative;
                width: 0px;
                height: 1px;
                background-color: $very-dark-gray;

                transition: width 800ms ease-in-out;

                    &.open {
                        width: 648px;
                    }
            }

            .footer-content {
                font-size: 12px;
                text-align: center;
                text-transform: none;
                font-variant: small-caps;

                width: 648px;
                // height: 30px;
                margin: 15px 0;

                opacity: 0;
                transition: opacity 800ms ease-in-out;

                &.open {
                    opacity: 1;
                }

                a {
                    color: #000;
                    font-weight: 400;
                    font-size: 12px;
                    text-underline-offset: 2px;

                    transition: color 200ms ease-in-out;

                    &:hover {
                        color: $dark-grayish-green;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    #projects-container {
        .projects-content {
            .click-note {
                transform: translateY(50px);
            }
            .scroll-note {
                transform: translateY(-50px);
            }

            .projects-scroller {
                width: 160px;
                height: 400px;

                .btn-container {
                    .project-btn {
                        width: 138px;

                        font-size: 40px;
                    }
                }
            }

            .hero-box {
                align-self: center;

                width: 400px;
                height: 400px;
            }

            .project-description {
                height: 400px;
            }
        }
    }
}