// 
// Projects Page Style
// 
@font-face { font-family: "Exo2"; src: url('../../fonts/Exo2-ExtraBold.ttf')};

#projectsContainer {
    z-index: 4;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 400vh;
    top: -20vh;
    background-color: #cfa1a4;

    h2 {
        font-size: 100px;
    }

    #projectsTitle {
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        top: 100vh;
        width: 100vw;
        height: 100vh;
        color: #3d3d3d;
        position: fixed;
        // color: #fff;
        // background-color: #cfa1a4;

        h2 {
            margin-bottom: 1vh;

            hr {
                border: 1px solid #994e53;
                border-radius: 2px;
                width: 50%;
            }
        }
        span {
            font-size: 20px;
            text-align: center;
            line-height: 28px;
        }
    }
    
    #project1Container {
        z-index: 4;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;

        #img {
            z-index: 5;
            position: fixed;
            bottom: -10vh;
            width: 400px;
            height: 710px;
            background-image: url('../../images/bbth_iPhone.png');
            transform: rotate(15deg) translateX(-450px);
        }

        span {
            position: fixed;
            top: 50%;
            transform: translateX(-500px) translateY(-50%);
            // background-color: rgba(0, 0, 0, 0.4);

            h3 {
                width: 500px;
                font-family: "Exo2";
                font-size: 48px;
                text-transform: uppercase;
                color: #3d3d3d;
                // color: #fff;
                margin-top: 0;
                margin-bottom: 20px;
                // background-color: rgba(0, 0, 0, 0.4);
            }

            p {
                width: 420px;
                font-size: 20px;
                line-height: 25px;
                color: #3d3d3d;
                // color: #fff;
            }

            a {
                font-size: 20px;
                font-weight: 600;
                color: #3d3d3d;
                text-decoration: underline;
                text-underline-offset: 4px;
                transition: all 300ms ease;

                &:hover {
                    color: #994e53;
                }
            }
        }
    }
}
@media (max-width: 1040px) {
    #projectsContainer {
        h2 {
            font-size: 81px;
        }
        #projectsTitle span {
            font-size: 16px;
            line-height: 24px;
        }
        #project1Container {
            span {
                h3 {
                    font-size: 42px;
                }
                p, a {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 915px) {
    #projectsContainer {
        h2 {
            font-size: 72px;
        }
        #project1Container {
            #img {
                transform: rotate(15deg) translateX(-450px) scale(0.8);
            }
        }
    }
}