// 
// Projects Page Mobile Style
// 

@font-face { font-family: "Exo2"; src: url('../../fonts/Exo2-ExtraBold.ttf')};

#projectsMobileContainer {
    z-index: 4;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 300vh;
    background-color: #cfa1a4;

    h2 {
        font-size: 48px;
    }

    #projectsIntroMobile {
        z-index: 4;
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 100vh;
        width: 100vw;
        height: 50vw;
        color: #3d3d3d;
        position: fixed;

        h2 {
            margin-bottom: 1vh;

            hr {
                border: 1px solid #994e53;
                border-radius: 2px;
                width: 50%;
            }
        }

        span {
            font-size: 20px;
            text-align: center;
            line-height: 28px;
            width: 80%;
            // background-color: rgba(0, 0, 0, 0.4);
        }
    }

    #proj1Mobile {
        z-index: 4;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;

        #bbth-iphoneMobile {
            z-index: 5;
            position: fixed;
            top: -5vh;
            width: 400px;
            height: 720px;
            background-image: url('../../images/bbth_iPhone.png');
            background-size: cover;
            background-position: center;
            transform: translateX(-700px) rotate(90deg);
            -webkit-transform: translateX(-700px) rotate(90deg);
        }

        span {
            position: fixed;
            top: 65vh;
            left: 17vw;
            transform: translateX(-700px) translateY(-50%);
            -webkit-transform: translateX(-700px) translateY(-50%);

            h3 {
                width: 500px;
                font-family: "Exo2";
                font-size: 48px;
                color: #3d3d3d;
                text-transform: uppercase;
                margin: 0;
                margin-bottom: 20px;
            }

            p {
                width: 420px;
                font-size: 20px;
                line-height: 25px;
                color: #3d3d3d;
            }

            a {
                font-size: 20px;
                font-weight: 600;
                color: #3d3d3d;
                text-decoration: underline;
                text-underline-offset: 4px;
                transition: all 300ms ease;

                &:hover {
                    color: #994e53;
                }
            }
        }
    }

    #proj2Mobile {
        #portfolioMobileIMG {
            z-index: 5;
            position: fixed;
            width: 1226px;
            height: 710px;
            bottom: 0;
            right: -880px;
            // display: none;
            background-image: url('../../images/macbookV3.png');
            background-size: cover;
            transform: translateX(350px);
            -webkit-transform: translateX(350px);
        }

        span {
            position: fixed;
            top: 50%;
            left: 10vw;
            transform: translateX(100vw) translateY(-50%);
            -webkit-transform: translateX(100vw) translateY(-50%);

            h3 {
                width: 500px;
                font-size: 48px;
                color: #3d3d3d;
                margin: 0;
                margin-bottom: 20px;
            }

            p {
                width: 420px;
                font-size: 20px;
                line-height: 25px;
                color: #3d3d3d;
            }

            a {
                font-size: 20px;
                font-weight: 600;
                color: #3d3d3d;
                text-decoration: underline;
                text-underline-offset: 4px;
                transition: all 300ms ease;

                &:hover {
                    color: #994e53;
                }
            }
        }
    }
}

// MEDIA QUERIES
@media (max-width: 600px) {
    #projectsMobileContainer {
        h2 {
            font-size: 40px;
        }
        #projectsIntroMobile span {
            font-size: 16px;
            line-height: 24px;
        }
        #proj1Mobile {
            #bbth-iphoneMobile {
                width: 300px;
                height: 620px;
                transform: translateX(-700px) rotate(90deg);
                -webkit-transform: translateX(-700px) rotate(90deg);
            }
            span {
                top: 75vh;

                h3 {
                    font-size: 36px;
                }
                p, a {
                    width: 360px;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
        #proj2Mobile {
            #portfolioMobileIMG {
                width: 980px;
                height: 568px;
                right: -705px;
            }
            span {
                top: 30%;

                h3 {
                    font-size: 36px;
                }
                p, a {
                    width: 320px;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    #projectsMobileContainer {
        h2 {
            font-size: 40px;
        }
        #projectsIntroMobile span {
            width: 80vw;
            font-size: 14px;
            line-height: 22px;
        }
        #proj1Mobile {
            #bbth-iphoneMobile {
                width: 300px;
                height: 620px;
                left: -100px;
                transform: translateX(-700px) rotate(90deg) scale(0.9);
                -webkit-transform: translateX(-700px) rotate(90deg) scale(0.9);
            }
            span {
                top: 75vh;
                left: 40px;

                h3 {
                    font-size: 30px;
                }
                p, a {
                    width: 300px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        #proj2Mobile {
            #portfolioMobileIMG {
                width: 736px;
                height: 426px;
                right: -350px;
                transform: translateX(400px);
                -webkit-transform: translateX(400px);
            }
            span {
                h3 {
                    font-size: 30px;
                }
                p, a {
                    width: 300px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}
@media (max-width: 300px) {
    #projectsMobileContainer {
        #projectsIntroMobile {
            top: 105vh;
        }
        #proj1Mobile {
            #bbth-iphoneMobile {
                width: 300px;
                height: 620px;
                transform: rotate(90deg) translateX(-20vh) translateY(550px) scale(0.6);
                -webkit-transform: rotate(90deg) translateX(-20vh) translateY(550px) scale(0.6);
            }
            span {
                top: 70vh;

                h3 {
                    width: 190px;
                    font-size: 30px;
                }
                p, a {
                    width: 200px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        #proj2Mobile {
            #portfolioMobileIMG {
                width: 490px;
                height: 284px;
                right: -200px;
                transform: translateX(400px);
                -webkit-transform: translateX(400px);
            }
            span {
                top: 33%;

                h3 {
                    font-size: 30px;
                }
                p, a {
                    width: 200px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}