//
// Homepage Style
//

#homepage {
    position: relative;
    width: 100vw;
    height: 100vh;
    // background-color: rgba(201, 160, 160, 0.4);
  
    span {
      color: #ececa7;
    }
  
    #myOpening {
      display: flex;
      width: 100vw;
      height: 60vh;
      padding-left: 5vw;
      align-items: center;
      justify-content: flex-start;
      // background-color: rgba(0, 0, 0, 0.4);

      h2 {
        opacity: 0;
        font-size: 64px;
      }
    }
  
    #homeDescription {
      display: flex;
      width: 100vw;
      height: 40vh;
      // align-items: center;
      justify-content: flex-end;
      // background-color: rgba(0, 255, 0, 0.4);

      h2 {
        opacity: 0;
        font-size: 40px;
        padding-right: 5vw;
      }
    }
}