// 
// Homepage Mobile Style
// 

#homepageMobile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;

    span {
        color: #ececa7;
    }

    #mobileOpening {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        // background-color: rgba(255, 255, 255, 0.4);

        h2 {
            opacity: 0;
            font-size: 48px;
        }
    }
    
    #meMobile {
        position: relative;
        width: 456px;
        height: 456px;
        border-radius: 50%;
        background-image: url('../../images/homepage_zeth.png');
        background-size: cover;
        background-position: center;
        box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.2);
    }

    #mobileHomeDescription {
        display: flex;
        width: 100vw;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
        // background-color: rgba(0, 255, 0, 0.4);

        h2 {
            position: relative;
            opacity: 0;
            font-size: 36px;
            white-space: nowrap;
        }

        
    }
}

// MEDIA QUERIES
@media (max-width: 600px) {
    #homepageMobile {
        #mobileOpening h2 {
            font-size: 30px;
        }
        #mobileHomeDescription h2 {
            font-size: 24px;
        }
        #meMobile {
            width: 360px;
            height: 360px;
        }
    }
}
@media (max-width: 400px) {
    #homepageMobile {
        #mobileOpening h2 {
            font-size: 30px;
        }
        #mobileHomeDescription h2 {
            font-size: 24px;
        }
        #meMobile {
            width: 320px;
            height: 320px;
        }
    }
}
@media (max-width: 300px) {
    #homepageMobile {
        #mobileOpening h2 {
            font-size: 26px;
        }
        #mobileHomeDescription h2 {
            font-size: 18px;
        }
        #meMobile {
            width: 225px;
            height: 225px;
        }
    }
}