// 
// About Page Style
// 

#aboutContainer {
    z-index: 2;
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #3d3d3d;
    // color: #ececa7;
    padding-bottom: 100vh;

    h2 {
        font-size: 100px;
        // margin: 0;
    }

    #aboutPage {
        z-index: 2;
        display: flex;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #f5eaa8;
        // background-color: #242424;
        
        animation: about 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -4s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
        @keyframes about {
            0% {
                transform: translateY(200vh);
            }
            60% {
                transform: translateY(200vh);
            }
            100% {
                transform: translateY(0vh);
            }
        }
    }

    #aboutText {
        z-index: 2;
        display: flex;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;

        animation: about-text 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -3.4s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
        @keyframes about-text {
            0% {
                transform: translateY(250vh);
            }
            60% {
                transform: translateY(250vh);
            }
            100% {
                transform: translateY(0vh);
            }
        }

        h2 {
            transform: rotate(-90deg) translateY(-20vw);
        }
    }

    @keyframes scroll-up {
        0% {
            transform: translateY(300vh);
        }
        100% {
            transform: translateY(-110vh);
        }
    }
    @keyframes fade-on-scroll {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        60% {
            opacity: 1;
        }
        68% {
            opacity: 1;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    .interest h2 {
        margin: 0;
    }

    .interest {
        z-index: 2;
        display: flex;
        position: fixed;
        width: 100vw;
        justify-content: center;
        // background-color: rgba(0, 0, 0, 0.4);

        animation-name: scroll-up, fade-on-scroll;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-play-state: paused;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    #interest1 {
        top: 0;
        animation-delay: calc(var(--scroll) * -2s);
    }
    #interest2 {
        top: 120px;
        animation-delay: calc(var(--scroll) * -2s), calc(var(--scroll) * -1.9s);
    }
    #interest3 {
        top: 240px;
        animation-delay: calc(var(--scroll) * -2s), calc(var(--scroll) * -1.8s);
    }
    #interest4 {
        top: 360px;
        animation-delay: calc(var(--scroll) * -2s), calc(var(--scroll) * -1.7s);
    }
    #interest5 {
        top: 480px;
        animation-delay: calc(var(--scroll) * -2s), calc(var(--scroll) * -1.6s);
    }
    #interest6 {
        top: 600px;
        animation-delay: calc(var(--scroll) * -2s), calc(var(--scroll) * -1.5s);
    }
    #interest7 {
        top: 720px;
        animation-delay: calc(var(--scroll) * -2s), calc(var(--scroll) * -1.45s);
    }
}

.empty {
    z-index: 1;
    display: flex;
    position: relative;
    width: 100vw;
    height: 400vh;
    // background-color: #fff;
}