// 
// About Mobile Page Style
// 

#aboutMobileContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 300vh;
    color: #3d3d3d;
    background-color: #f5eaa8;

    #mobAboutTitle {
        display: flex;
        width: 100vw;
        height: 120vh;
        justify-content: center;
        align-items: center;

        h1 {
            position: fixed;
            top: 100vh;
            font-size: 72px;
        }
    }

    #mobAboutText {
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;

        h2 {
            font-size: 48px;
            margin: 0;
            opacity: 0;
        }
    }
}

// MEDIA QUERIES
@media (max-width: 600px) {
    #aboutMobileContainer {
        #mobAboutTitle h1 {
            font-size: 54px;
        }
    }
}
@media (max-width: 400px) {
    #aboutMobileContainer {
        #mobAboutTitle h1 {
            font-size: 50px;
        }
        #mobAboutText h2 {
            font-size: 36px;
        }
    }
}
@media (max-width: 300px) {
    #aboutMobileContainer {
        #mobAboutTitle h1 {
            font-size: 40px;
        }
        #mobAboutText h2 {
            font-size: 28px;
        }
    }
}