// 
// About Page Style
// 

#aboutContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 300vh;
    color: #3d3d3d;
    // color: #ececa7;
    background-color: #f5eaa8;

    #aboutTitle {
        display: flex;
        width: 100vw;
        height: 120vh;
        justify-content: center;
        align-items: center;
        h1 {
            position: fixed;
            top: 100vh;
            font-size: 100px;
            // margin: 0;
        }
    }

    #aboutText {
        // background-color: rgba(0, 0, 240, 0.4);
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        
        h2 {
            font-size: 81px;
            margin: 0;
            opacity: 0;
        }
    }

}
@media (max-width: 1040px) {
    #aboutContainer {
        #aboutTitle h1 {
            font-size: 81px;
        }
        #aboutText h2 {
            font-size: 70px;
        }
    }
}