// 
// Navigation Mobile Style
// 

#navbarMobile {
    z-index: 24;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 2400;
    width: 100vw;
    height: 10vh;
    // transition: transform 300ms ease;
    // background-color: rgba(255, 255, 255, 0.4);

    .anchorMobile {
        transition: all 400ms ease;

        &:hover {
            color: #3d3d3d;
        }
    }
    
    h1 {
        font-size: 20px;
        text-transform: lowercase;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        padding-top: 1vh;
        margin: 0;
        // background-color: rgba(255, 0, 0, 0.4);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        // background-color: rgba(0, 255, 0, 0.4);

        li {
            font-size: 20px;
            padding: 0 10px;

            .projects {
                font-weight: bold;
                letter-spacing: 2px;
            }

            i {
                transition: all 400ms ease;
                
                &:hover {
                    color: #3d3d3d;
                }
            }
        }
    }
}