//
// Navigation Style
// 

// START NAVIGATION STYLE

#navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 15vh;
    z-index: 240;
    align-items: center;
    // background: rgba(200, 200, 200, 0.5);

    #myName {
      font-weight: bold;
      font-size: 24px;
      text-transform: lowercase;
      letter-spacing: 4px;
      display: flex;
      position: relative;
      align-items: center;
      height: 100%;
      width: 45%;
      background: none;
      border: none;
      color: inherit;
      margin: 0;
      padding-top: 2px;
      padding-left: 5%;
      // background-color: rgba(255, 0, 0, 0.4);
    }
  
    ul {
      list-style: none;
      font-size: 24px;
      display: flex;
      position: relative;
      height: 100%;
      width: 50%;
      margin: 0;
      align-items: center;
      justify-content: flex-end;
      padding-right: 5%;
      // background-color: rgba(0, 0, 255, 0.4);
  
      li {
        display: inline-block;
        padding: 0 12px;
  
        i {
          display: inline-block;
          transition: all 0.4s ease-in-out;
        }
        i:hover {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
        }
      }
      
    }
}