// 
// Contact Page Style
// 

#contactContainer {
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 200vh;
    background-color: #a1cfb5;

    #formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        margin-top: -350px;
        transform: translateY(100vh);
        -webkit-transform: translateY(100vh);;
        width: 700px;
        height: 700px;
        background-color: #c8e3d4;
        border-radius: 50%;
        box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.2);

        form {
            z-index: 7;
            display: flex;
            height: 600px;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            ::placeholder {
                color: #2d5840;
                opacity: 0.5;
            }

            .userInput {
                margin: 10px 0;

                input {
                    color: #2d5840;

                    &:focus {
                        outline: none;
                    }
                }

                #name, #email {
                    text-align: center;
                    border: none;
                    border-bottom: 1px solid #3a7252;
                    padding: 0 0 8px 0;
                    margin: 0;
                    font-size: 14px;
                    background-color: transparent;
                }

                #name {
                    width: 400px;
                }

                #email {
                    width: 500px;
                }

                textarea {
                    resize: none;
                    color: #2d5840;
                    font-family: Helvetica, sans-serif;

                    &:focus {
                        outline: none;
                    }
                }

                #message {
                    width: 500px;
                    height: 200px;
                    text-align: center;
                    text-justify: auto;
                    font-size: 14px;
                    border: none;
                    border-bottom: 1px solid #3a7252;
                    padding: 0 0 8px 0;
                    background-color: transparent;
                }
            }

            #submitButton {
                font-family: Helvetica, sans-serif;
                font-size: 14px;
                color: #2d5840;
                opacity: 0.5;
                border: 1px solid #3a7252;
                background-color: transparent;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                cursor: pointer;
                transition: all 400ms ease;

                &:hover {
                    color: #c8e3d4;
                    background-color: #3a7252;
                }
            }
        }

        svg {
            position: absolute;
            
            #contactSirko {
                transform-origin: center;
                -webkit-transform-origin: center;
                transform: scale(1.29) rotate(130deg);
                -webkit-transform: scale(1.29) rotate(130deg);

                path {
                    fill: none;
                }

                text {
                    fill: #3d3d3d;
                }
            }
        }
    }

    #infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        margin-top: -350px;
        transform: translateY(100vh);
        -webkit-transform: translateY(100vh);
        opacity: 0;
        width: 700px;
        height: 700px;
        background-color: #c8e3d4;
        border-radius: 50%;
        box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.2);

        a, p {
            z-index: 8;
            font-family: Helvetica, sans-serif;
            font-size: 36px;
            font-weight: 800;
            color: #2d5840;
            cursor: pointer;
            margin: 0;
            padding: 8px 0;
        }

        svg {
            position: absolute;
            
            #contactSirko {
                transform-origin: center;
                -webkit-transform-origin: center;
                transform: scale(1.29) rotate(-50deg);
                -webkit-transform: scale(1.29) rotate(-50deg);

                path {
                    fill: none;
                }

                text {
                    fill: #3d3d3d;
                }
            }
        }
    }
}

// MEDIA QUERIES
@media (max-width: 800px) {
    #contactContainer {
        #formContainer, #infoContainer {
            transform: translateY(100vh) scale(0.9);
            -webkit-transform: translateY(100vh) scale(0.9);
        }
    }
}
@media (max-width: 600px) {
    #contactContainer {
        #formContainer, #infoContainer {
            transform: translateY(100vh) scale(0.6);
            -webkit-transform: translateY(100vh) scale(0.6);
        }
    }
}
@media (max-width: 400px) {
    #contactContainer {
        #formContainer, #infoContainer {
            transform: translateY(100vh) scale(0.5);
            -webkit-transform: translateY(100vh) scale(0.5);
        }
    }
}