// 
// Mobile Contact Page Style
// 

#contactMobileContainer {
    z-index: 6;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    position: relative;
    width: 100vw;
    height: 200vh;
    background-color: #a1cfb5;

    #formMobileContainer {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        h2 {
            font-size: 36px;
            color: #2d5840;
            padding-bottom: 64px;
        }

        form {
            z-index: 7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ::placeholder {
                color: #2d5840;
                opacity: 0.5;
            }

            .userInputMobile {
                margin: 10px 0;

                input {
                    color: #2d5840;

                    &:focus {
                        outline: none;
                    }
                }

                #nameMobile, #emailMobile {
                    text-align: center;
                    border: none;
                    border-bottom: 1px solid #3a7252;
                    padding: 0 0 8px 0;
                    margin: 0;
                    font-size: 14px;
                    background-color: transparent;
                    width: 400px;
                }

                textarea {
                    resize: none;
                    color: #2d5840;
                    font-family: Helvetica, sans-serif;

                    &:focus {
                        outline: none;
                    }
                }

                #messageMobile {
                    width: 400px;
                    height: 200px;
                    text-align: center;
                    text-justify: auto;
                    font-size: 14px;
                    border: none;
                    border-bottom: 1px solid #3a7252;
                    padding: 0 0 8px 0;
                    background-color: transparent;
                }
            }

            #submitButtonMobile {
                font-family: Helvetica, sans-serif;
                font-size: 14px;
                color: #2d5840;
                opacity: 0.5;
                border: 1px solid #3a7252;
                background-color: transparent;
                width: 75px;
                height: 75px;
                margin-top: 20px;
                border-radius: 50%;
                transition: all 400ms ease;

                &:hover {
                    color: #a1cfb5;
                    background-color: #3a7252;
                }
            }
        }
    }

    #infoMobileContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        h2 {
            font-size: 36px;
            color: #2d5840;
            padding-bottom: 64px;
        }

        a, p {
            z-index: 8;
            font-family: Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 800;
            color: #2d5840;
            cursor: pointer;
            margin: 0;
            padding: 24px 0;
        }
    }
}

// MEDIA QUERIES
@media (max-width: 400px) {
    #contactMobileContainer {
        #formMobileContainer {
            h2 {
                font-size: 32px;
            }
            form {
                .userInputMobile {
                    #nameMobile, #emailMobile, #messageMobile {
                        width: 250px;
                    }
                }
            }
        }
        #infoMobileContainer {
            h2 {
                font-size: 32px;
            }
            a, p {
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 300px) {
    #contactMobileContainer {
        #infoMobileContainer {
            a, p {
                font-size: 16px;
            }
        }
    }
}