// 
// Workflow Opener Style
// 

// colors
$off-white: #fffaef;
$dark-grayish-green: #a5b1a1;
$very-dark-gray: #242424;

.opener-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: $very-dark-gray;

    .opener-content {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;

        &.open { 
            z-index: 4;
        }

        display: grid;
        grid-template-columns: 74px minmax(0, 1fr);
        grid-template-rows: repeat(3, minmax(0, 1fr));
        align-items: center;

        .top-header {
            grid-column: 2;
            grid-row: 1;
            align-self: center;
            justify-self: center;
    
            font-size: 25px;
            font-weight: 400;
            white-space: nowrap;
    
            border: 2px solid $very-dark-gray;
    
            opacity: 0;
            transform: translateX(-100px);
            transition: 
                transform 600ms ease-in-out,
                opacity 600ms ease-in-out;
    
            &.open {
                opacity: 1;
                transform: translateX(0);
            }
    
            &.close {
                opacity: 0;
                transform: translateX(100px);
            }
        }
    
        .bottom-header {
            grid-column: 2;
            grid-row: 3;
            align-self: center;
            justify-self: center;
    
            background-color: $very-dark-gray;
            border: 2px solid $very-dark-gray;
    
            font-size: 25px;
            font-weight: 400;
            color: $off-white;
    
            opacity: 0;
            transform: translateX(100px) scale(1, -1);
            transition: 
                transform 600ms ease-in-out,
                opacity 600ms ease-in-out;
    
            &.open {
                opacity: 1;
                transform: translateX(0) scale(1, -1);
            }
    
            &.close {
                opacity: 0;
                transform: translateX(-100px) scale(1, -1);
            }
        }
    
        .process {
            grid-column: 2;
            grid-row: 2;
            justify-self: center;
            align-self: center;
    
            width: 360px;
            height: 220px;
    
            display: grid;
            grid-template-rows: repeat(4, minmax(0, 1fr));
            grid-row-gap: 10px;
    
            .steps {
                .step {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
        
                    width: 360px;
                    opacity: 0;
                    transform: translateX(-100px);
                    overflow: hidden;
                    transition: all 600ms ease-in-out;
        
                    &.open {
                        transform: translateX(0);
                        opacity: 1;
                    }
    
                    &.close {
                        transition-delay: 0s;
                        opacity: 0;
                        transform: translateX(100px);
                    }
        
                    h3 {
                        font-size: 25px;
                        font-weight: 700;
                        font-style: italic;
                        color: $dark-grayish-green;
                        letter-spacing: -2px;
                        margin-right: 5px;
                    }
        
                    h2 {
                        font-size: 50px;
                        font-weight: 700;
                        font-style: italic;
                        letter-spacing: -2px;
                        margin-bottom: -6px;
                    }
        
                    &:nth-child(1) {
                        grid-row: 1;
                    }
                    &:nth-child(2) {
                        grid-row: 2;
                        transition-delay: 50ms;
                    }
                    &:nth-child(3) {
                        grid-row: 3;
                        transition-delay: 100ms;
                    }
                    &:nth-child(4) {
                        grid-row: 4;
                        transition-delay: 150ms;
                    }
                }
            }
        }
    }
}