@font-face { font-family: "Work Sans"; font-weight: 300; src: url('./fonts/WorkSans-Light.ttf'); font-display: swap};
@font-face { font-family: "Work Sans"; font-weight: 400; src: url('./fonts/WorkSans-Regular.ttf'); font-display: swap};
@font-face { font-family: "Work Sans"; font-weight: 500; src: url('./fonts/WorkSans-Medium.ttf'); font-display: swap};
@font-face { font-family: "Work Sans"; font-weight: 600; src: url('./fonts/WorkSans-SemiBold.ttf'); font-display: swap};
@font-face { font-family: "Work Sans"; font-weight: 700; src: url('./fonts/WorkSans-Bold.ttf'); font-display: swap};
@font-face { font-family: "Work Sans"; font-weight: 700; font-style: italic; src: url('./fonts/WorkSans-BoldItalic.ttf'); font-display: swap};

// colors
$off-white: #fffaef;
$dark-grayish-green: #a5b1a1;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $off-white;
  text-transform: uppercase;
  font-variant-numeric: slashed-zero;

  // hide scroll bar
  &::-webkit-scrollbar { // Chrome, Safari, Opera
    display: none;
  }
  -ms-overflow-style: none; // IE & Edge
  scrollbar-width: none; // Firefox
}

// animations

@keyframes marquee {
  0% {
      transform: translateY(-4500px);
  }
  100% {
      transform: translateY(0px);
  }
}