@font-face { font-family: Virtuous; src: url('./fonts/Virtuous-Slab.otf')}
@font-face { font-family: Virtuous; font-weight: bold; src: url('./fonts/Virtuous-Slab\ Bold.otf')}
@font-face { font-family: HomemadeApple; src: url('./fonts/HomemadeApple-Regular.ttf')}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html, body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

* {
  cursor: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

// CUSTOM CURSOR STYLE

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transition: 
    width 300ms ease,
    height 300ms ease;
}
.cursors .cursor:nth-child(1) {
  background-color: #ffe5eb;
  z-index: 2400;
  transform: translate(-50%, -50%);
}
.cursors .cursor:nth-child(2) {
  height: 24px;
  width: 24px;
  border: 2px solid #ffe5eb;
  border-radius: 50%;
  z-index: 2400;
  transform: translate(-50%, -50%);
}
.cursor:nth-child(2).enlarged {
  height: 48px;
  width: 48px;
}
.cursor:nth-child(1).clicked {
  height: 25px;
  width: 25px;
}

// NAVIGATION STYLE

#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 100px;
  z-index: 2;
  // background: rgba(200, 200, 200, 0.5);
  #myName {
    font-family: Virtuous;
    font-weight: bold;
    font-size: 20px;
    background: none;
    border: none;
    color: inherit;
    position: absolute;
    margin: 0;
    padding-top: 2px;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    text-transform: lowercase;
    letter-spacing: 8px;
  }

  ul {
    list-style: none;
    font-size: 24px;
    position: absolute;
    margin: 0;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);

    li {
      display: inline-block;
      padding: 0 12px;
    }

    i {
      display: inline-block;
      transition: all 0.4s ease-in-out;
    }
    i:hover {
      transform: rotate(360deg);
    }
    
  }
}

// HOMEPAGE STYLE

#homepage {
  position: relative;
  height: 100vh;

  #bkgdVideo {
    position: absolute;
    z-index: 0;
    // height: 100%;
  }

  #myOpening {
    font-size: 40px;
    position: relative;
    display: flex;
    top: 25%;
    left: 12%;

    h2 {
      span {
        color: #ececa7;
      }
      button {
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        color: inherit;
        border: none;
        background: none;
        text-decoration: none;
        // background-color: rgba(0, 0, 0, 0.4);
      }
      button:active {
        color: inherit;
      }
      button:focus {
        outline: none;
      }

      button > i {
        pointer-events: none;
        display: inline-block;
        font-size: 44px;
        padding: 0 18px;
        transition: all 400ms ease-in-out;
      }
      button:hover > i {
        transform: rotate(360deg);
      }
      

      a,
      #zethGithub,
      #zethLinkedIn {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-160px);
        transition: 
          opacity 300ms ease,
          visibility 300ms ease,
          transform 400ms ease;
      }
      a,
      #zethGithub.fade,
      #zethLinkedIn.fade {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
    }
  }

  #skills {
    font-family: HomemadeApple;
    font-size: 14px;
    position: absolute;
    bottom: 8%;
    right: 8%;
  }

}

.fade-in {
    animation: fade 2.7s ease-in forwards;
    opacity: 0;
}

@keyframes fade {
    50% {
      opacity: 0.01;
    }
    100% {
        opacity: 0.8;
    }
}

.slide-top {
	  animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 0;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slide-left {
    animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 0;
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
